<launch>
  <arg name="model" default="$(find mybot_description)/urdf/mybot.xacro"/>
  <arg name="rvizconfig" default="$(find mybot_description)/rviz/urdf.rviz" />

  <include file="$(find mybot_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find mybot_description)/config/diffdrive.yaml"
            ns="diff_drive_controller" />
  <rosparam command="load"
            file="$(find mybot_description)/config/joints.yaml"
            ns="gripper_controller" />

  <node name="bot_controller_spawner" pkg="controller_manager" type="spawner"
    args="gripper_controller
          diff_drive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/diff_drive_controller/cmd_vel"/>
  </node>
</launch>
